# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/LP2Soft_Principal/build/
/LP2Soft_Model/build/
/LP2Soft_Controller/build/
/LP2Soft_Model/dist/
/LP2Soft_Controller/dist/
/LP2Soft_Principal/dist/
/LP2Soft_Principal/nbproject/private
/LP2Soft_Model/nbproject/private
/LP2Soft_Controller/nbproject/private
!/LP2Soft_Principal/src/pe/edu/pucp/LP2Soft/principal/lib/mysql-connector-java-8.0.26.jar
!/LP2Soft_Controller/src/pe/edu/pucp/LP2Soft/controller/lib/mysql-connector-java-8.0.26.jar
/LP2Soft_WebServices/nbproject/private/
/LP2Soft_WebServices/dist/
/LP2Soft_WebServices/build/
!/LP2Soft_WebServices/src/java/pe/edu/pucp/LP2Soft/lib/mysql-connector-java-8.0.26.jar
/LP2Soft_WebService/nbproject/private/
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/org.apache.commons.commons-collections4_4.2.0.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/spring-core-5.1.4.RELEASE.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/org.apache.commons.logging_1.2.0.v20180409-1502.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/org.jfree.chart-osgi_1.0.19.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/spring-beans-5.1.4.RELEASE.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/org.jfree.jcommon-osgi_1.0.23.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/joda-time_2.9.9.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/jasperreports-6.16.0.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/jasperreports-chart-themes-6.16.0.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/jasperreports-metadata-6.16.0.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/jasperreports-functions-6.16.0.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/commons-digester-2.1.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/javax.servlet-3.0.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/jasperreports-chart-customizers-6.16.0.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/js-extra-classes.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/itext-2.1.7.js7.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/jasperreports-custom-visualization-6.10.0.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/jasperreports-annotation-processors-6.10.0.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/jasperreports-fonts-6.16.0.jar
!/LP2Soft_WebService/src/java/pe/edu/pucp/LP2Soft/lib/commons-beanutils-1.9.3.jar
